body{
    
  background-color: floralwhite;  
    
}
.card{
    
    
    float: left;
     background-color: floralwhite;
      
    background-color: aquamarine;
    margin-left: 300px;
    margin-top: 10px;

}